body{
    background-color: #DBEFBC;
}

#title{
    text-align: center;

}

li{
    list-style-type: none;
}

table, td{
    width: 2rem;
    border: 1px solid #9BC4CB;
    column-width: auto; 
}


#response .check input:checked{
    background-color: red;
}